body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    background-image: url(img/banner.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-top: 10px solid #53c65e;
    display: flex;
    flex-direction: row;
}
header>div {
    width: 50%;
}
div#img-banner {
    height: 509px;
    position: relative;
}
div#img-banner img {
    position: absolute;
    bottom: 0;
    width: 55%;
    left: 80px;
}
div#content-banner {
    display: flex;
    color: #FFF;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.title-banner p{
    font-family: 'Pacifico';
    margin-bottom: 0;
    font-size: 42px;
    
}

#content-banner>div{
    width: 70%;
    float: right;

}
.icons-banner img {
    margin: 0 3px;
    background-color: #00000054;
    border-radius: 50%;
    padding: 10px;
    width: 20px;
}
.sociais img:hover,
.icons-banner img:hover {
    background-color: #53c65e;
}
section#content-top {
    display: flex;
    flex-direction: row;
    padding: 60px 100px 40px;
}
.box-content {
    text-align: center;
    padding: 0 25px;
}
.box-content img {
    background-color: #60c75c;
    padding: 20px;
    border-radius: 50%;
    width: 40px;
}
p.box-title {
    font-weight: bold;
    font-size: 20px;
}
p.box-description {
    font-size: 15px;
    color: #999;
}
section#news {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    background-color: #efefef;
    padding: 60px 120px 50px;
}
section#news>div {
    width: 50%;
}
.content-news p.box-title {
    margin-top: 0;
}
.content-news {
    padding-right: 130px;
}
input#input-email {
    height: 35px;
    width: 200px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
a.btn-news {
    text-decoration: none;
    color: #FFF;
    background-color: #60c85a;
    padding: 9px 25px 10px;
    margin-left: -3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
::placeholder {
    color: #999;
    padding-left: 20px;
}

#rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 120px;
}

#rodape>div {
    text-align: center;
}
#rodape .rodape-description {
    padding: 0 100px;
    font-style: italic;
}
#rodape .perfil img {
    width: 40px;
}
.perfil {
    margin-bottom: 20px;
}
.sociais img {
    background-color: #9999;
    width: 18px;
    margin: 0 2px;
    border-radius: 50%;
    padding: 5px;
}
footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
footer div a {
    margin: 0 15px;
    text-decoration: none;
    color: #999;
}
footer {
    background-color: #efefef;
    padding: 40px 0;
}